
body * {
    box-sizing: border-box;
}

.title {
    margin: 2vh auto;
    color: rgb(2, 57, 240);
    font-family:  'Inter', sans-serif;
    font-size: 5vh;
    font-weight: 700;
    text-align: center;
}

.info {
    margin: 0 auto;
    color: black;
    font-size: 2.3vh;
    font-family:  'Inter', sans-serif;
    text-align: center;
    font-weight: 500;
}

.textarea_wrapper{
    width: 900px;
    margin: 2vh auto;
}

.textarea {
    width: 100%;
    height: 25vh;
    margin: 2vh auto;
    padding: 2vh;
    border: black 1px solid;
    overflow: hidden;
    white-space: pre-wrap;
    font-size: 1.3wh;
}

.keyboard {
    margin: 0 auto 10vh auto;
    padding: 30px;
    background: black;
    border-radius: 20px;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(60, calc(5vh / 8)); /*dig*/
    grid-template-rows: repeat(5, 5vh);
    gap: calc(5vh / 6);
    cursor: pointer;
}

.key {
    grid-column: auto/span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    border: rgba(255, 255, 255, 0.5)  2px solid;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 1.8vh;
    font-family:  'Inter', sans-serif;
    font-weight: 500;
    transition: 0.2s;
}

.key:hover {
    border: rgb(2, 57, 240) 2px solid;
    background: rgba(2, 2, 136, 0.8);
    opacity: 0.7;

}

.arrow_left,
.arrow_right,
.arrow_up,
.arrow_down {
    font-size: 3.5vh;
}

.delete,
.ctrl_right,
.alt_right {
    grid-column-start: span 4;
}

.tab,
.alt_right,
.ctrl_right {
    grid-column-start: span 4;
}

.backspace,
.enter,
.capslock {
    grid-column-start: span 8;
}

.shift_left,
.shift_right {
    grid-column-start: span 8;
}

.space {
    grid-column-start: span 28;
}

@keyframes pressingDown {
    from {
      transform: scale(100%);
    }
  
    to {
        transform: scale(95%);
    }
  }
  

.key.pressed {
    border: rgb(2, 240, 129) 2px solid;
    background: rgba(2, 2, 136, 0.8);
    opacity: 1;
    animation-duration: 0.2s;
    animation-direction: alternate;
    animation-name: pressingDown;
    animation-iteration-count: 2;
}

.key.active {
    border: rgb(2, 240, 129) 2px solid;
    background: rgba(2, 2, 136, 0.8);
    opacity: 1;
}